.payments-container {
  flex: 0 0 100%;
/*  height: 322px;*/
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  table {
    width: 940px;
    border-spacing: 0;
    font-size: 12px;
  }
  thead {
    th {
      color: #666;
      padding: 25px 0;
      background-color: #eaeced;
      border-right-style: none;
      border-left-style: none;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #d2d5d7;
      border-top: 1px solid #d2d5d7;

      &:first-child {
        border-left: 1px solid #d2d5d7;
        width: 50%;
        border-radius: 4px 0 0;
        text-align: left;
        padding-left: 29px;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(4) {
        width: 10%;
        border-right: 1px solid #d2d5d7;
        border-radius: 0 4px 0 0;
      }
    }
  }
  tbody {
    td {
      cursor: pointer;
      font-family: Helvetica, serif;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      color: #555;
      border-left: 1px solid #d2d5d7;
      border-bottom: 1px solid #d2d5d7;
      &:first-child {
        padding-left: 29px;
        text-align: left;
      }
      &:nth-child(4) {
        width: 10%;
        border-right: 1px solid #d2d5d7;
      }
    }
    tr:nth-of-type(even){
      background: #eaeced;
    }

    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 4px;
      }
      td:last-child {
        border-radius: 0 0 4px 0;
      }
    }
  }

}

.btn {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 835px;
  top: 553px;
  width: 26px;
  height: 26px;
  z-index: 163;
}
