.payments-container {
  flex: 0 0 100%;
  /*  height: 322px;*/
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .payments-container::-webkit-scrollbar {
    display: none; }
  .payments-container table {
    width: 940px;
    border-spacing: 0;
    font-size: 12px; }
  .payments-container thead th {
    color: #666;
    padding: 25px 0;
    background-color: #eaeced;
    border-right-style: none;
    border-left-style: none;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #d2d5d7;
    border-top: 1px solid #d2d5d7; }
    .payments-container thead th:first-child {
      border-left: 1px solid #d2d5d7;
      width: 50%;
      border-radius: 4px 0 0;
      text-align: left;
      padding-left: 29px; }
    .payments-container thead th:nth-child(2) {
      width: 20%; }
    .payments-container thead th:nth-child(3) {
      width: 10%; }
    .payments-container thead th:nth-child(4) {
      width: 10%;
      border-right: 1px solid #d2d5d7;
      border-radius: 0 4px 0 0; }
  .payments-container tbody td {
    font-family: Helvetica, serif;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #555;
    border-left: 1px solid #d2d5d7;
    border-bottom: 1px solid #d2d5d7; }
    .payments-container tbody td:first-child {
      padding-left: 29px;
      text-align: left; }
    .payments-container tbody td:nth-child(4) {
      width: 10%;
      border-right: 1px solid #d2d5d7; }
  .payments-container tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px; }
  .payments-container tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0; }
  .payments-container .icons-container {
    display: flex;
    justify-content: center; }
  .payments-container .rating-icon {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    width: 26px;
    height: 26px;
    border: 1px solid #666666;
    margin: 0 2px;
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    color: #666666; }
    .payments-container .rating-icon.blue {
      background-image: -moz-linear-gradient(90deg, #3366cc 0%, #62bfea 100%);
      background-image: -webkit-linear-gradient(90deg, #3366cc 0%, #62bfea 100%);
      background-image: -ms-linear-gradient(90deg, #3366cc 0%, #62bfea 100%);
      color: #fdfdfd; }

.btn {
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, black 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, black 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, black 0%, white 100%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 835px;
  top: 553px;
  width: 26px;
  height: 26px;
  z-index: 163; }
