.icons-container{
  display: flex;
  justify-content: center;
}
.rating-icon {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.004);
  width: 26px;
  height: 26px;
  border:1px solid rgb(102, 102, 102);
  margin: 0 2px;
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
  color: rgb(102, 102, 102);

  &.blue{
    background-image: -moz-linear-gradient(90deg, rgb(51, 102, 204) 0%, rgb(98, 191, 234) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(51, 102, 204) 0%, rgb(98, 191, 234) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(51, 102, 204) 0%, rgb(98, 191, 234) 100%);
    color: rgb(253, 253, 253);
  }
}